{% extends 'catalog/base.html' %}

{% block title %}Добавить продукт{% endblock %}

{% block content %}
<div class="row text-center">
    <h1>Новый продукт</h1>
</div>
<div class="container">
    <p class="card-text">Действительно ходите удалить: {{object.name_product}}</p>
    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
                Удалить
        </button>
        <a class="btn btn-primary" href="{% url 'catalog:products_list' %}" role="button">Отменить</a>
    </form>
</div>
{% endblock %}

